@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  main {
    @apply flex min-h-screen flex-col pt-16 container mx-auto px-12 py-4;
  }

  header {
    @apply z-20 px-4 left-0 w-full top-0 fixed border-b text-white mx-auto bg-black;
  }

  footer {
    @apply flex justify-center items-center w-full space-x-2 h-10;
  }
}
