@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black;
}

@layer base {
  main {
    @apply flex min-h-screen flex-col pt-16 container mx-auto px-12 py-4;
  }

  header {
    @apply z-20 px-4 w-full fixed flex justify-center mx-auto py-2 items-center;
  }

  footer {
    @apply flex justify-center items-center w-full space-x-2 h-10;
  }
}
